<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });
        });
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">采集节点列表</a></li>
    </ul>
</div>
<div class="formbody">
    <form method="post">
        <div class="tools">
            <ul class="toolbar">
                <a href="{:url('collection/add')}">
                    <li><span><img src="__STATIC__/admin/images/t01.png"></span>添加</li>
                </a>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
            <tr>
                <th width="100px;">ID</th>
                <th>采集名称</th>
                <th>所属模型</th>
                <th>添加时间</th>
                <th>最近采集时间</th>
                <th width="10%">操 作</th>
            </tr>
            </thead>
            <tbody>

            {foreach name="collection" item="val"}
            <tr>
                <td>{$val.id}</td>
                <td>{$val.collection_name}</td>
                <td>{$val.model_name}</td>
                <td>{$val.addtime|date="Y-m-d H:i",###}</td>
                <td>{empty name="val.lasttime"}从未采集{else/}{$val.lasttime|date="Y-m-d H:i",###}{/empty}</td>
                <td>
                    <a href="javascript:void (0);" onclick="javascript:show_loading({$val.id});">采集</a>
                    <a href="{:url('collection/edit',['id'=>$val.id])}">编辑</a>
                    <a href="javascript:void(0)" onclick="warning('确定要删除吗', '{:url('collection/delete',['id'=>$val.id])}')">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </form>
    <div class="page">
        {$collection->render();}
    </div>
</div>
<script type="text/javascript">
    $("#usual1 ul").idTabs();
    $('.tablelist tbody tr:odd').addClass('odd');
    function show_loading(id) {
        $('#loading').show();
        $.ajax({
            type: "GET",
            url: "{:url('collection/collection')}",
            data: {id: id},
            dataType: "json",
            success: function (data) {
                if (data == 1) {
                    $('#loading_content').html("<p>采集数据成功</p>");
                    setTimeout(function () {
                        $('#loading').hide();
                    },1000);

                } else {
                    $('#loading_content').html("<p>采集数据失败</p>");
                    setTimeout(function () {
                        $('#loading').hide();
                    },1000);
                }
            }
        })
    }
</script>
</div>
<div id ="loading" style="position: absolute; top: 0; left: 0; width: 100%; background: #ccc; height: 100%; opacity: 0.7; display: none;">
    <div id="loading_content" style="margin: 0 auto; margin-top: 300px; width:100px; height: 100px;">
        <img src="__STATIC__/admin/images/timg.gif" width="100%" height="100%"/>
        <p style="text-align: center">采集中。。。</p>
    </div>
</div>
</body>
</html>
