<!DOCTYPE html>
<head id="Head">
    <script type="text/javascript">var allpane ='headerAreaA|mainArea|footerAreaA|bottomAreaA|fixedBottomArea|fixed-left|fixed-right|popup-area';</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="order by hcms"/>
    <title>{$system.web_name}</title>
    <meta name="description" content="{$system.web_keywords}"/>
    <meta name="keywords" content="{$system.web_description}"/>
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)"/>
    <link id="qhddefaultcontent2075_css" rel="stylesheet" type="text/css" href="{$resource}/css/qhdcontent.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_content_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/content.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_menu_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/menu.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_jquery_fancybox_1_3_4_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/jquery.fancybox-1.3.4.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_pgwslideshow_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/pgwslideshow.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_animate_min_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/animate.min.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_style_css?ver=1_2" rel="stylesheet" type="text/css" href="{$resource}/css/style.css"/>
    <style>html {
        background-image: url({$resource}/img/bg-rep-02.png);
    }</style>
    <!--[if lt IE 9]>
    <script src="{$resource}/js/html5.js"></script>
    <![endif]--><!--[if IE 6]>
    <script type="text/javascript" src="{$resource}/js/ie7.js"></script>
    <script type="text/javascript" src="{$resource}/js/dd_belatedpng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.top img, .footer img, .bottom img, .form-btn, .module-icon-default');
    </script>
    <![endif]-->
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="font-zh-CN" style="background:url({$resource}/img/bg-img-04.jpg) top center fixed;">
<form name="Form" method="post" action="" id="Form" enctype="multipart/form-data" style="height:inherit">
    <div>
        <input type="hidden" name="__VIEWSTATE_CACHEKEY" id="__VIEWSTATE_CACHEKEY" value="VS_zi22fwealafeoqsfpov1x2t0_/"/>
    </div>
    <script src="{$resource}/js/a1portalcore.js" type="text/javascript"></script>
    <script src="{$resource}/js/a1portal.js"></script>
    <script src="{$resource}/js/jquery-1.7.2.min.js"></script>
    <script src="{$resource}/js/superfish.js"></script>
    <script src="{$resource}/js/jquery.caroufredsel.js"></script>
    <script src="{$resource}/js/jquery.touchswipe.min.js"></script>
    <script src="{$resource}/js/jquery.tools.min.js"></script>
    <script src="{$resource}/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="{$resource}/js/pgwslideshow.min.js"></script>
    <script src="{$resource}/js/jquery.fixed.js"></script>
    <script src="{$resource}/js/cloud-zoom.1.0.2.min.js"></script>
    <script src="{$resource}/js/device.min.js"></script>
    <script src="{$resource}/js/html5media-1.2.js"></script>
    <script src="{$resource}/js/animate.min.js"></script>
    <script src="{$resource}/js/custom.js"></script>
    <div id="wrapper" class="home-page">
    {include file="\default\header"/}
        <div id="a1portalSkin_headerAreaA" class="header"><a name="31437" id="31437"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr8920789207_mainArea" class="module-content">
                        <div class="slideshow carousel clearfix" style="height:550px; overflow:hidden;">
                            <div id="carousel-89207">
                                {foreach name="banner" item="val"}
                                <div class="carousel-item">
                                    <div class="carousel-img"><a href="javascript:;" target="{$val.link}">
                                        <img src="{$val.img_src}" height="550" width="100%" alt="{$val.title}"/></a>
                                    </div>
                                </div>
                                {/foreach}
                                <!--<div class="carousel-item">
                                    <div class="carousel-img"><a href="javascript:;" target="">
                                        <img src="{$resource}/img/1-160R32135040-L.jpg" height="550" alt="幻灯1"/></a>
                                    </div>
                                </div>-->
                            </div>
                            <div class="carousel-btn carousel-btn-fixed" id="carousel-page-89207"></div>
                        </div>
                        <script type="text/javascript">

                            $(window).bind("load resize", function () {
                                $("#carousel-89207").carouFredSel({
                                    width: '100%',
                                    items: {visible: 1},
                                    auto: {pauseOnHover: true, timeoutDuration: 5000},
                                    swipe: {onTouch: true, onMouse: true},
                                    pagination: "#carousel-page-89207"
                                    //prev   : { button:"#carousel-prev-89207"},
                                    //next   : { button:"#carousel-next-89207"},
                                    //scroll   : { fx : "crossfade" }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <section class="main">
            <div id="a1portalSkin_mainArea" class="page-width clearfix"><a name="31462" id="31462"></a>
                <div class="module">
                    <div class="module-inner">
                        <div class="module-title module-title-default clearfix">
                            <div class="module-title-content clearfix">
                                <h3 style="background-image:url({$resource}/img/3a61ab32-7a2c-4dfe-b0c1-83c18d771c6c_32_32.png);"
                                    class="module-icon-default">产品中心</h3>
                            </div>
                        </div>
                        <div id="a1portalSkin_ctr8921389213_mainArea" class="module-content">
                            <div class="scrollable carousel product-scrollable product-set clearfix">
                                <ul id="scrollable-89213" class="scrollable-default clearfix">
                                    {volist name="product" id="vo"}
                                    <li>
                                        <div class="scrollable-item">
                                            <p class="scrollable-img"><a target="_blank"  href="{:url('article/index',['id'=>$vo.id])}">
                                                <img src="{$vo.litpic}" alt="{$vo.title}"/></a>
                                            </p>
                                            <h2><a target="_blank" href="{:url('article/index',['id'=>$vo.id])}">{$vo.title}</a>
                                            </h2>
                                        </div>
                                    </li>
                                    {/volist}
                                </ul>
                                <div class="carousel-direction">
                                    <a class="carousel-prev" id="carousel-prev-89213" href="javascript:;"><span><</span></a>
                                    <a class="carousel-next" id="carousel-next-89213" href="javascript:;"><span>></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-divider"></div>
                </div>
                <!-- Start_Module_89214 --><a name="31463" id="31463"></a>
                <div class="module-default">
                    <div class="module-inner">
                        <div id="a1portalSkin_ctr8921489214_mainArea" class="module-content"><!-- Start_Module_89214 -->
                            <div class="qhd-module">
                                <div class="column">
                                    <div class="col-3-1">
                                        <div id="a1portalSkin_ctr8921489214_Column3C33A34A33_QHDCPM89214M1"
                                             class="qhd_column_contain"><!-- Start_Module_89215 --><a name="31464" id="31464"></a>
                                            <div class="module">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style="background-image:url({$resource}/img/93c1b651-194d-43f5-861d-48759f29f978_32_32.png);" class="module-icon-default">公司新闻</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr8921489214_Column3C33A34A33_ctr8921589215_mainArea"
                                                         class="module-content"><!-- Start_Module_89215 -->
                                                        <!-- S entry-list -->
                                                        <div class="entry-list entry-list-article entry-list-time-hl entry-set-time-hl">
                                                            <!-- S entry-item -->
                                                            <div class="entry-item">
                                                                <div class="time">
                                                                    <p class="time-day">{$news.time|date="d",###}</p>
                                                                    <p class="time-date">{$news.time|date="Y-m",###}</p>
                                                                </div>
                                                                <div class="entry-title">
                                                                    <h2>
                                                                        <a href="/a/xinwendongtai/gongsixinwen/20160823/21.html" target="_blank">{$news.title}</a>
                                                                    </h2>
                                                                </div>
                                                                <div class="entry-summary">
                                                                    <div class="qhd-content">
                                                                        <p>{$news.body|msubstr=0,40,'utf-8',false}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="module-more-down">
                                                        <a href="{:url('cate/index',['id'=>2])}" target="_blank">更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3-1">
                                        <div id="a1portalSkin_ctr8921489214_Column3C33A34A33_QHDCPM89214M2"
                                             class="qhd_column_contain"><a name="31465" id="31465"></a>
                                            <div class="module">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style="background-image:url({$resource}/img/8bc3530a-ae6e-463a-b162-6f4321829196_32_32.png);" class="module-icon-default">关于我们</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr8921489214_Column3C33A34A33_ctr8921689216_mainArea"
                                                         class="module-content"><!-- Start_Module_89216 -->
                                                        <div class="qhd-content">
                                                            <p>{$about|msubstr=0,60,'utf-8',false}</p>
                                                        </div>
                                                    </div>
                                                    <div class="module-more-down"><a href="{:url('cate/index',['id'=>8])}" target="_blank">更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3-1 last">
                                        <div id="a1portalSkin_ctr8921489214_Column3C33A34A33_QHDCPM89214M3"
                                             class="qhd_column_contain"><!-- Start_Module_89217 --><a name="31466" id="31466"></a>
                                            <div class="module">
                                                <div class="module-inner">
                                                    <div class="module-title module-title-default clearfix">
                                                        <div class="module-title-content clearfix">
                                                            <h3 style="background-image:url({$resource}/img/0e7087f6-cb84-46c1-9844-1ed90199f941_32_32.png);" class="module-icon-default">技术服务</h3>
                                                        </div>
                                                    </div>
                                                    <div id="a1portalSkin_ctr8921489214_Column3C33A34A33_ctr8921789217_mainArea" class="module-content"><!-- Start_Module_89217 -->
                                                        <div class="qhd-content">
                                                            <p>{$service|msubstr=0,60,'utf-8',false}</p>
                                                        </div>
                                                        <!-- End_Module_89217 --></div>
                                                    <div class="module-more-down"><a href="{:url('cate/index',['id'=>11])}" target="_blank">更多</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== E main ==================== -->
        {include file="\default/footer"/}
        <!-- ==================== S bottom ==================== -->
        {include file="\default/side"/}
</form>
</body>
</html>