<!DOCTYPE html>
<head id="Head">
    <script type="text/javascript">var allpane = 'headerAreaA|mainArea|sidebarAreaA|footerAreaA|bottomAreaA|fixedBottomArea|fixed-left|fixed-right|popup-area';</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="order by hcms"/>
    <title>{$system.web_name}</title>
    <meta name="keywords" content="{$cateRes.keywords}"/>
    <meta name="description" content="{$cateRes.description}"/>
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)"/>
    <link id="qhddefaultcontent2075_css" rel="stylesheet" type="text/css" href="{$resource}/css/qhdcontent.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_content_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/content.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_menu_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/menu.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_jquery_fancybox_1_3_4_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/jquery.fancybox-1.3.4.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_pgwslideshow_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/pgwslideshow.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_animate_min_css?ver=1_0" rel="stylesheet" type="text/css" href="{$resource}/css/animate.min.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_style_css?ver=1_2" rel="stylesheet" type="text/css" href="{$resource}/css/style.css"/>
    <link id="_Portals__default_Skins_Biotechnology_Html_css_style_PurpleAndPink_css" rel="stylesheet" type="text/css" href="{$resource}/css/style-purpleandpink.css"/>
    <style>html {
        background-image: url({$resource}/img/bg-rep-02.png);
    }</style>
    <!--[if lt IE 9]>
    <script src="{$resource}/js/html5.js"></script>
    <![endif]--><!--[if IE 6]>
    <script type="text/javascript" src="{$resource}/js/ie7.js"></script>
    <script type="text/javascript" src="{$resource}/js/dd_belatedpng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.top img, .footer img, .bottom img, .form-btn, .module-icon-default');
    </script>
    <![endif]-->
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="font-zh-CN" style="background:url({$resource}/img/bg-img-04.jpg) top center fixed;">
<form name="Form" method="post" action="/about_02/language_zh-CN" id="Form" enctype="multipart/form-data"
      style="height:inherit">
    <div>
        <input type="hidden" name="__VIEWSTATE_CACHEKEY" id="__VIEWSTATE_CACHEKEY" value="VS_cmupymwokbk5pe10i0531qoz_/about_02/language_zh-CN"/>
    </div>
    <script src="{$resource}/js/a1portalcore.js" type="text/javascript"></script>
    <script src="{$resource}/js/a1portal.js"></script>
    <script src="{$resource}/js/jquery-1.7.2.min.js"></script>
    <script src="{$resource}/js/superfish.js"></script>
    <script src="{$resource}/js/jquery.caroufredsel.js"></script>
    <script src="{$resource}/js/jquery.touchswipe.min.js"></script>
    <script src="{$resource}/js/jquery.tools.min.js"></script>
    <script src="{$resource}/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="{$resource}/js/pgwslideshow.min.js"></script>
    <script src="{$resource}/js/jquery.fixed.js"></script>
    <script src="{$resource}/js/cloud-zoom.1.0.2.min.js"></script>
    <script src="{$resource}/js/device.min.js"></script>
    <script src="{$resource}/js/html5media-1.2.js"></script>
    <script src="{$resource}/js/animate.min.js"></script>
    <script src="{$resource}/js/custom.js"></script>
    <div id="wrapper" class="insi-page">
        {include file="\default/header"/}
        <div id="a1portalSkin_headerAreaA" class="header"><a name="31443" id="31443"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr8921989219_mainArea" class="module-content">
                        <div class="slideshow slideshow-min carousel clearfix" style="height:350px; overflow:hidden;">
                            <div id="carousel-89219">
                                <div class="carousel-item">
                                    <div class="carousel-img"><a href="javascript:;" target="">
                                        <img src="{$resource}/img/6acd039f-37c8-4b2c-9790-cce6b928df8c_0_350.jpg" height="350" alt=""/></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-btn carousel-btn-fixed" id="carousel-page-89219"></div>
                        </div>
                        <script type="text/javascript">
                            $(window).bind("load resize", function () {
                                $("#carousel-89219").carouFredSel({
                                    width: '100%',
                                    items: {visible: 1},
                                    auto: {pauseOnHover: true, timeoutDuration: 5000},
                                    swipe: {onTouch: true, onMouse: true},
                                    pagination: "#carousel-page-89219",
                                    scroll: {fx: "crossfade"}
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <section class="main">
            <div class="page-width clearfix">
                <section class="content float-right">
                    <section class="page-title page-title-inner clearfix">
                        <div class="breadcrumbs float-right" skinobjectzone="HtmlBreadCrumb_3803"><span>当前位置：</span>
                            <a href='{:url('index/index')}'>主页</a> >
                            {volist name="position" id="val"}
                            <a href='{:url('cate/index',['id'=>$val.id])}'>{$val.cate_name}</a> >
                            {/volist}
                        </div>
                        <div class="page-name float-left">
                            <h2>{$cateRes.cate_name}</h2>
                        </div>
                    </section>

                    <div id="a1portalSkin_mainArea" class="content-wrapper"><a name="31457" id="31457"></a>
                        <div class="module-default">
                            <div class="module-inner">
                                <div id="a1portalSkin_ctr8922189221_mainArea" class="module-content">
                                    <div class="portfolio-list">
                                        <ul class="column marg-per2 clearfix">

                                            <li class='col-4-1  not-animated' data-animate='fadeInUp'>
                                                <div class="portfolio-img"><a
                                                        href="{$resource}/img/1-160R32336070-L.jpg"
                                                        rel="imgZoom-group-89221" title="资质荣誉5"><img
                                                        src="{$resource}/img/1-160R32336070-L.jpg" alt="资质荣誉5"/><span
                                                        class="opacity-overlay"><i class="icon-zoom"></i></span></a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="{$resource}/img/1-160R32336070-L.jpg"
                                                           rel="imgZoom-group-title-89221" title="资质荣誉5">资质荣誉5</a></h2>
                                                </div>
                                            </li>

                                            <li class='col-4-1  not-animated' data-animate='fadeInUp'>
                                                <div class="portfolio-img"><a
                                                        href="{$resource}/img/1-160R32335530-L.jpg"
                                                        rel="imgZoom-group-89221" title="资质荣誉4"><img
                                                        src="{$resource}/img/1-160R32335530-L.jpg" alt="资质荣誉4"/><span
                                                        class="opacity-overlay"><i class="icon-zoom"></i></span></a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="{$resource}/img/1-160R32335530-L.jpg"
                                                           rel="imgZoom-group-title-89221" title="资质荣誉4">资质荣誉4</a></h2>
                                                </div>
                                            </li>
                                            <li class='col-4-1  not-animated' data-animate='fadeInUp'>
                                                <div class="portfolio-img"><a
                                                        href="{$resource}/img/1-160R32335340-L.jpg"
                                                        rel="imgZoom-group-89221" title="资质荣誉3"><img
                                                        src="{$resource}/img/1-160R32335340-L.jpg" alt="资质荣誉3"/><span
                                                        class="opacity-overlay"><i class="icon-zoom"></i></span></a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="{$resource}/img/1-160R32335340-L.jpg"
                                                           rel="imgZoom-group-title-89221" title="资质荣誉3">资质荣誉3</a></h2>
                                                </div>
                                            </li>
                                            <li class='col-4-1 last not-animated' data-animate='fadeInUp'>
                                                <div class="portfolio-img"><a
                                                        href="{$resource}/img/1-160R32335180-L.jpg"
                                                        rel="imgZoom-group-89221" title="资质荣誉2"><img
                                                        src="{$resource}/img/1-160R32335180-L.jpg" alt="资质荣誉2"/><span
                                                        class="opacity-overlay"><i class="icon-zoom"></i></span></a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="{$resource}/img/1-160R32335180-L.jpg"
                                                           rel="imgZoom-group-title-89221" title="资质荣誉2">资质荣誉2</a></h2>
                                                </div>
                                            </li>
                                            <li class='col-4-1  not-animated' data-animate='fadeInUp'>
                                                <div class="portfolio-img"><a
                                                        href="{$resource}/img/1-160R32335040-L.jpg"
                                                        rel="imgZoom-group-89221" title="资质荣誉1"><img
                                                        src="{$resource}/img/1-160R32335040-L.jpg" alt="资质荣誉1"/><span
                                                        class="opacity-overlay"><i class="icon-zoom"></i></span></a>
                                                </div>
                                                <div class="portfolio-title">
                                                    <h2><a href="{$resource}/img/1-160R32335040-L.jpg"
                                                           rel="imgZoom-group-title-89221" title="资质荣誉1">资质荣誉1</a></h2>
                                                </div>
                                            </li>
                                        </ul>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                //弹窗
                                                $('a[rel=imgZoom-group-89221],a[rel=imgZoom-group-title-89221]').fancybox({
                                                    'transitionIn': 'elastic',
                                                    'transitionOut': 'elastic',
                                                    'hideOnOverlayClick': false,
                                                    'centerOnScroll': true,
                                                    'overlayColor': '#000',
                                                    'padding': '0'
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="track"><i></i></div>
                    <script>
                        $(document).ready(function () {
                            var sidebarHeight = $(".sidebar").height();
                            var contentHeight = $(".content").height();
                            if (sidebarHeight > contentHeight) {
                                $(".track").height(sidebarHeight);
                            }
                        });
                    </script>
                </section>
                <section class="sidebar float-left">
                    <section class="page-menu" skinobjectzone="menu_4014">
                        <div class="page-menu-title">
                            <h3>{$leftCate.cate_name}</h3>
                        </div>
                        <div class="page-menu-content">
                            <ul>
                                {volist name="leftCate.son" id="vo"}
                                <li {eq name="Request.param.id" value="$vo.id" }class='current'{/eq}><a href="{:url('cate/index',['id'=>$vo.id])}">{$vo.cate_name}</a></li>
                                {/volist}
                                </li>
                            </ul>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('.page-menu-content ul').find('li:last').addClass('last');
                                    $('.page-menu-content > ul > li > a').click(function () {
                                        if ($(this).parent('li').find('ul')) {
                                            $(this).parent('li').find('ul').slideDown('fast');
                                            $(this).parent('li').siblings('li').find('ul').slideUp('fast');
                                            $(this).parent('li').addClass('current').siblings('li').removeClass('current');
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </section>
                    <div class="clear"></div>
                    <div id="a1portalSkin_sidebarAreaA" class="QHDEmptyArea sidebar-content"></div>
                </section>
            </div>
        </section>
        {include file="\default/footer"/}
        {include file="\default/side"/}
</form>
</body>
</html>