<section class="bottom">
    <div id="a1portalSkin_bottomAreaA" class="QHDEmptyArea page-width clearfix"></div>
</section>
<!-- ==================== E bottom ==================== --></div>
<!-- end of wrapper --><!-- S fixed-bottom  -->
<div id="a1portalSkin_fixedBottomArea" class="QHDEmptyArea fixed-bottom"></div>
<!-- E fixed-bottom  --><!-- S fixed-side -->
<div id="a1portalSkin_fixed-left" class="QHDEmptyArea fixed-side fixed-left"></div>
<!-- E fixed-side --><!-- S fixed-side -->
<div id="a1portalSkin_fixed-right" class="fixed-side fixed-right">
    <a name="31467" id="31467"></a>
    <div class="module-default">
        <div class="module-inner">
            <div id="a1portalSkin_ctr8921889218_mainArea" class="module-content"><!-- Start_Module_89218 -->
                <div class="link-fixed-side">
                    <ul>
                        <li class="first"><a href="http://wpa.qq.com/msgrd?v=3&uin=1234567890&site=qq&menu=yes"
                                             class="link-name" target="_blank"><i
                                style="background-image:url({$resource}/img/c125b589-e76e-49c0-98d7-e6401cb1c361_32_32_uniformfill.png);"
                                alt="合作咨询"></i><span>合作咨询</span></a></li>
                        <li class=""><a href="http://wpa.qq.com/msgrd?v=3&uin=1234567890&site=qq&menu=yes"
                                        class="link-name" target="_blank"><i
                                style="background-image:url({$resource}/img/5d9e132e-a784-4456-8686-4419cc50e854_32_32_uniformfill.png);"
                                alt="在线客服"></i><span>在线客服</span></a></li>
                        <li class=""><a href="javascript:;" class="link-name" target=""><i style="background-image:url({$resource}/img/87389d6b-e02e-4c9b-8197-0ea992d705cc_32_32_uniformfill.png);" alt="服务电话"></i><span>服务电话</span></a>
                            <div class="link-summary"><i class="arrow-section-r"></i>
                                <div class="link-summary-content">
                                    <div class="qhd-content">
                                        <p style="text-align:center;">400-123-4567</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- End_Module_89218 --></div>
        </div>
    </div>
</div>
<!-- E fixed-side --><!-- S popup -->
<div id="popup" class="popup">
    <div class="popup-content not-animated" data-animate="fadeInDown">
        <div id="a1portalSkin_popup-area" class="QHDEmptyArea popup-content-wrapper"></div>
        <div class="popup-close-btn"><a href="javascript:;" title="关闭"><span>关闭</span></a></div>
    </div>
    <div class="popup-overlay"></div>
</div>
<!-- E popup --><!-- E go top -->
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
<!-- E go top -->
<input name="ScrollTop" type="hidden" id="ScrollTop"/>
<input name="__a1portalVariable" type="hidden" id="__a1portalVariable"/>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value=""/>