<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" src="__STATIC__/admin/js/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //顶部导航切换
            $(".nav li a").click(function () {
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            })
        })
    </script>


</head>

<body style="background: #3399cc;">

<div class="topleft">
    <a href="{:url('admin/Index/index')}" target="_parent">
        <p style="font-size: 24px; color: white; padding:25px;">HCMS管理后台</p>
    </a>
</div>

<div class="topright">
    <ul>
        <li><span><img src="__STATIC__/admin/images/help.png" title="帮助" class="helpimg"/></span><a target="_blank" href="{:url('Index/index/index')}">前台首页</a></li>
        <li><a href="#">关于</a></li>
        <li><a href="{:url('login/logout')}" target="_parent">退出</a></li>
    </ul>

    <div class="user">
        <span>admin</span>
        <i>消息</i>
        <b>5</b>
    </div>

</div>
</body>
</html>
