<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/editor/kindeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select").uedSelect({
                width : 345,
            })
        });
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">添加广告位</a></li>
    </ul>
</div>
<div class="formbody">
    <div class="formtitle"><span>添加广告位</span></div>
    <form action="" method="post">
        <input type="hidden" name="id" value="{$position.id}"/>
        <ul class="forminfo">
            <li>
                <label>广告位名称</label>
                <input name="name" type="text" class="dfinput" value="{$position.name}" required/><i>名称不能超过30个字符</i>
            </li>
            <li>
                <label>广告位宽度</label>
                <input name="width" type="text" class="dfinput" value="{$position.width}" required/><i>请输入整数</i>
            </li>
            <li>
                <label>广告位高度</label>
                <input name="height" type="text" class="dfinput" value="{$position.height}" required/><i>请输入整数</i>
            </li>
            <li>
                <label>&nbsp;</label>
                <input name="" type="submit" class="btn" value="确认保存"/>
            </li>
        </ul>
    </form>
</div>
</body>
</html>

