<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
    <script src="__STATIC__/admin/plus/layer/layer.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });
        });
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="{:url('index/main')}">首页</a></li>
        <li><a href="{:url('AdPosition/lst')}">广告位列表</a></li>
    </ul>
</div>
<div class="formbody">
    <form method="post">
        <div class="tools">
            <ul class="toolbar">
                <a href="{:url('AdPosition/add')}">
                    <li><span><img src="__STATIC__/admin/images/t01.png"></span>添加</li>
                </a>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
            <tr>
                <th width="100px;">ID</th>
                <th>名 称</th>
                <th>宽 度</th>
                <th>高 度</th>
                <th>操 作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="position" item="val"}
            <tr>
                <td>{$val.id}</td>
                <td>{$val.name}</td>
                <td>{$val.width}</td>
                <td>{$val.height}</td>
                <td>
                    <a href="{:url('AdPosition/edit',['id'=>$val.id])}">编辑</a>
                    <a href="javascript:void(0)" onclick="del(this,{$val.id})">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </form>
    <div class="page">
        {$position->render();}
    </div>
</div>
<script type="text/javascript">
    $("#usual1 ul").idTabs();
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
</div>
</body>
</html>
<script>
    /*批量删除*/
    function del(obj,id) {
        //删除
        layer.confirm('确认删除？', {
            btn: ['删除','取消'] //按钮
        }, function(){
            $.ajax({
                type: "GET",
                url: "{:url('AdPosition/delete')}",
                data: {id: id},
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        $(obj).parents("tr").remove();
                        layer.msg('删除成功',{icon:1});
                    }else if(data ==-1){
                        layer.msg('请先删除该广告位广告',{icon:2});
                    } else {
                        layer.msg('删除失败',{icon:2});
                    }
                }
            });
        }, function(index){
            layer.close(index);
        });
    }
</script>
